html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: 50px;
}
.footer,
.push {
  height: 100px;
  text-align: center;
}

.App {
  text-align: center;
  width: 40%;
  margin: auto
}

body{
  background-color: #282c34;
  color: rgb(233, 233, 233);
  font-family: lato;
}

.inputs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input{
  width: 20rem;
  height: 2rem;
  display: flex;
}

.input input{
  padding: 0.5rem;
}

.input div{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input button{
  flex: 0
}

.input input:focus{
  outline: none;
}

button:hover{
  cursor: pointer;
}

.participant{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
}

.supported-role{
  background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    height: "4rem";
    display: flex;
    align-items: center;
    margin: 0.4rem 0
}

.participant div:hover{
  cursor: pointer;
}

.participant-in-game{
  margin: 1rem auto;
  width: 50%;
}
.go-back-button button{
  margin-bottom: 1.17rem;
  text-transform: none;
}

.info-icon{
  color: rgb(233, 233, 233) !important
}

.info-and-title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.participants{
  margin-bottom: 1.17rem
}

@media (max-width: 1550px){
  .inputs{
    justify-content: center;
  }
}

@media (max-width: 1000px){
  .App{
    width: 100%;
  }
}

