.App {
  text-align: center;
  width: 40%;
  margin: auto
}

body{
  background-color: #282c34;
  color: rgb(233, 233, 233);
}

.inputs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input{
  width: 20rem;
  height: 2rem;
  display: flex;
}

.input input{
  padding: 0.5rem;
}

.input div{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input button{
  flex: 1
}

.input input:focus{
  outline: none;
}

button:hover{
  cursor: pointer;
}

.participant{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.participant div:hover{
  cursor: pointer;
}